[2018-03-29 13:25] theianrobertson opened #4 "Get docs hosted on capitalone.github.io"
Hey @SanthiSridharan are you able to give me a hand with this?  I've got the built docs in the `/docs` subfolder, but I think I need someone with full repo rights to tell GH where to serve pages from, and maybe some help getting the capitalone.github.io connection set up?

[2018-03-29 13:29] theianrobertson opened #5 "Update repo description, link to docs and tags"
Hey @SanthiSridharan I think I need your help on this one too.  Hoping to add:

**Repo description:** Pandas and Spark DataFrame comparison for humans
**Tags:** python, pandas, spark, data
**Link:** (Whatever the link is from #4)

[2018-03-29 13:44] theianrobertson opened #6 "Add in docs how to change the number of mismatches in report"
This is in the API reference `/api/core.html#datacompy.core.Compare.report` but should be more explicit in the usage docs too.

[2018-03-29 13:46] theianrobertson opened #7 "Make duplicate handling better"
You can get at duplicate rows like:

[code]

The compare report just says `Any duplicates on match values: Yes`. Could have some things like

- Count of duplicates (i.e. that weren't matched)
- More information in docs about how duplicates are picked (explain the algorithm)
- Shortcut on the class to get at the duplicates (like just shortcut the above?) Or maybe some way to point a discarded dupli

[2018-03-29 13:47] theianrobertson opened #8 "Warning on some comparisons"
Not sure why this is, but I'm getting a warning message from the heart of Pandas here:

[code]

[code]

It doesn't seem to happen if a) I only have two rows (take out the second row), or b) if I step through the code myself (?), or c) if I have *four* rows UGH

Having trouble isolating the issue, so 🤷‍♂️

[2018-03-29 13:47] theianrobertson commented on #8
Update - it could be a version thing? Numpy 1.12.1/Pandas 0.22.0 gives the warning, Numpy 1.14.0/Pandas 0.22.0 doesn't?

[2018-03-29 13:56] theianrobertson opened #9 "Get CI up and running"
Maybe travis CI?  [Cloud Custodian](https://github.com/capitalone/cloud-custodian) uses Travis, hopefully I can poach their stuff.

[2018-03-30 12:25] SanthiSridharan commented on #4
ian , I have updated the repo description. Also updated your access privilege to this repo. You and faisal are admins to this repo. You have the capability to update the tags and docs.

[2018-04-01 14:51] theianrobertson commented on #5
Thanks @SanthiSridharan!

[2018-04-01 14:51] #5 closed

[2018-04-02 02:08] theianrobertson commented on #9
Closed with #10

[2018-04-02 02:08] #9 closed

[2018-04-02 12:59] theianrobertson commented on #4
Hosted now https://capitalone.github.io/datacompy/ (after adding back `.nojekyll` which I always forget)

[2018-04-02 12:59] #4 closed

[2018-05-01 01:48] theianrobertson opened #13 "Align the APIs between Compare and SparkCompare"
Not sure if it makes sense to go all the way to subclassing or ABCs, but the API calls between `Compare` and SparkCompare` are quite different.  I think they could be aligned somewhat before adding any new functionality.

[2018-05-15 19:26] behanjc opened #15 "Would be useful to have a parameter to strip spaces for comparison"
As probably expected, the following code will return a mismatch since 'B'<>'B ':
[code]
What I propose is an optional parameter to ignore differences where the only difference is leading or trailing spaces. In this example it is obvious that there is a trailing space. However, when we are dealing with extracts from different databases/source files, without real control over the ETL of these, somet

[2018-05-16 04:35] SanthiSridharan commented on #15
This is a great suggestion. I think that we can achieve this by
a. having a data_cleansing function for various options - change all to a single case, remove all trailing spaces, ignore all whitespaces....
b. have a new compare with options function rather than modifying the existing compare function
c. this compare with option function can take the options to cleanse - perform the cleansing opera

[2018-05-28 11:10] Madaditya opened #17 "Error in compare.report : Sample Values with Unequal Values"
The output for report under section : Sample Values with Unequal Values

Shows same values for df1 and df2

**in actual it is**

[2018-05-30 13:15] fdosani opened #19 "Regression in Pandas is causing tests to fail?"
Seems like the unit tests are failing due to a potential regression in Pandas?
https://github.com/pandas-dev/pandas/issues/21119

[code]

Following test raises: `ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat`

Would it make sense to pin the Pandas version?

[2018-05-31 01:05] theianrobertson commented on #19
Hmm, yeah confirmed that I'm seeing that behaviour with Pandas 0.23.0.  Had only been using 0.20.3 before since that was the last in the main conda channel :grin:

I'd been trying to keep the comparisons "smart", where if it was the same values stored as different types (e.g. `int64 1` and `Decimal('1')` they'd still match.  Maybe in the case of the join keys it makes sense to force them to be the

[2018-05-31 01:15] #15 closed

[2018-05-31 01:18] theianrobertson commented on #17
Hmm, yeah that could be a floating point representation issue.  Do you have a small code snippet that would reproduce this issue that you would be able to post?  Thanks for raising!

[2018-06-13 18:47] behanjc opened #20 "Max Diff in Report not working if comparing object and numeric datatypes"
Although the tolerance values and overall matching seem to work fine when comparing object to float64 or int64, in the summary report, the Max Diff is always 0.000000

Probably can be fixed here with .astype(float)?: https://github.com/capitalone/datacompy/blob/4d7fc4889322e22f487d7cf33cb1554fce3a496d/datacompy/core.py#L295-L297

[2018-06-21 21:07] #19 closed

[2018-06-22 03:00] #20 closed

[2018-07-31 23:49] theianrobertson opened #23 "add pre-commit hooks and black"
Interested in using this to clean up some style and enforce that the style is consistent across everything...

https://github.com/pre-commit/pre-commit
https://github.com/ambv/black

[2018-08-01 01:23] theianrobertson opened #25 "Rebuild docs automagically with Travis"
Need to dig into this a bit more, but this would probably mean moving docs to the gh-pages branch, and rebuilding every time there's a commit to master.

[2018-08-01 02:05] fdosani commented on #25
Doing the `gh-pages` on `locopy` if you want to steal anything.
https://capitalone.github.io/Data-Load-and-Copy-using-Python/developer.html#generating-documentation

[2018-08-01 02:10] theianrobertson commented on #23
Closed via #24

[2018-08-01 02:10] #23 closed

[2018-08-10 16:17] theianrobertson opened #27 "Issue with setup.py and locale"
[code]

Issue is that file_open should be explicitly opened as utf-8.  If someone's default environment isn't utf-8 this read fails.

[2018-08-13 12:38] #27 closed

[2018-09-12 18:06] fdosani opened #29 "Ignore case when comparing strings"
Might be a nice to have a optional ignore case feature so that `STRING` == `string`.
Should be relatively simple to add. Happy to take it on.

@theianrobertson thoughts?

[2018-09-18 00:51] #29 closed

[2018-10-23 20:05] mdivk opened #31 "Comparison result is completely wrong"
I use this tool to compare two parquets and surprisingly found the comparison result is completely wrong:
The two parquet files both has 40 fields with exactly the same name, difference is one parquet is 27MB and the other is 250MB.
Here is the summary:

Column Summary
--------------

Number of columns in common: 7
Number of columns in first_parquet but not in second_parquet: 33
Number of columns

[2018-10-24 12:43] theianrobertson commented on #31
Hmm, that seems strange.  Are you able to provide a code snippet of loading in the parquet files to dataframes so I could generate my own sample data and try it out?

[2018-11-02 20:34] mdivk commented on #31
I have changed my approach and used spark to read and compare the schema and it works for me, thank you.

[2018-11-02 20:34] #31 closed

[2018-12-19 18:18] ModeltownMayor opened #33 "Return inner-joined data with comparisons"
It would be useful to be able to analyze a dataset based on the comparison, for example:

Compare dataset A, B: approximately 2% do not match on my relative tolerance threshold for variable X.  I would like to get a dataset that has the inner join of A, B and an indicator variable for (difference in X > tol) that I could use for anlaysis.

As it stands I have to cook this myself, and I wasn't able

[2018-12-23 14:52] fayasali opened #34 "Entire data mismatch throws None"
When two table have same schema and data were different. this will throws exception

[2018-12-23 14:54] fdosani commented on #34
Thanks for raising the issue. Do you have a snippet of code with the output, just to help with reproducibility?

[2018-12-24 12:44] fayasali commented on #34
The scenario is when the two tables have same schema and data set is entirely different.
Ex:
Table A
col1 col2 col3
a      b      c
a      b      c
Table B
col1 col2 col3
d      a      f
g      f       g

The comparison "_print_row_matches_by_column" method thows error at SparkCompare

The following is Exact Exception

Exception:  unsupported operand type(s) for +: 'int' and 'NoneType'

Stack Trac

[2018-12-26 13:53] fayasali commented on #34
If the supplied join key mismatch its throws the execption.

[2018-12-26 13:53] #34 closed

[2019-01-23 01:36] theianrobertson opened #35 "Issue with nulls in join columns when de-duping"
There's an issue with the logic that tries to handle duplicate data.  This is a minimal example:

[code]

`df2` is a subset of `df1`, but it's not matching.  The issue is [here](https://github.com/capitalone/datacompy/blob/master/datacompy/core.py#L220), the `groupby.cumcount` just lumps any rows with nulls in them into one big category.  Need to make that more resilient to nulls.

[2019-01-23 01:40] theianrobertson commented on #35
@jfyu I think this is the issue we were talking about - there is a subtle bug here that I can take a look at fixing - in the meantime you could do something quick like `fillna` all of your join columns with values that aren't in your dataframe before comparing.

[2019-01-23 14:56] #35 closed

[2019-01-25 17:18] theianrobertson opened #37 "Issue with installing on Python 2.7"
In setup.py, should change the `open(os.path.join(CURR_DIR, "README.rst"), encoding="utf-8") as file_open` to work with Python 2.7

[2019-01-25 17:18] theianrobertson commented on #37
Will move to 0.4.0 with this update

[2019-01-25 17:37] #37 closed

[2019-03-18 13:24] theianrobertson opened #39 "Check out pytest-spark for spark tests"
https://github.com/malexer/pytest-spark

Could get spark tests up and running on Travis then maybe?

[2019-03-18 13:25] theianrobertson commented on #39
@fdosani I saw you mention this elsewhere - wouldn't mind picking your brain sometime if you dig into it

[2019-03-18 13:28] fdosani commented on #39
Sound good, it looks neat and can help simplify testing spark apps which might be a bit cumbersome to begin with.

[2019-03-18 14:23] theianrobertson commented on #39
yep - I've had some weird bugs with spark environments and testing, so would be nice if it simplifies :)

[2019-03-18 21:38] dan-coates commented on #39
As it turns out, my team is creating a Spark Python library right now and we spent a fair amount of time digging into how pyspark runs their own tests. :)

I'm curious as to what the difficulty is running Spark tests on Travis since I've never tried it. If the issue is just finding `pyspark` to import it, I don't think a plugin is needed for it. The Spark tests here also already create a SparkSess

[2019-03-19 14:45] dan-coates commented on #39
@theianrobertson We've gotten pytest working for our project without any special stuff - just `pip install pyspark pytest` basically. I think it'll come down to what the Travis environment is like and what kind of restrictions it puts on you. Another approach we're moving towards is building a Docker image with the test environment in place so that it's always consistent wherever you run it.

Let

[2019-03-22 17:55] fdosani commented on #39
I think for testing things in datacompy we would want to go the docker route if that makes sense, will need to dig into Travis a bit more to see what support they offer.

[2019-03-29 18:34] theianrobertson commented on #13
Have been poking around with some preliminary stuff here in the `combine` branch.  To break this down a little bit:

- [x] Change names on SparkCompare to df1/df2 instead of base/compare
- [x] Move non-compare functions out of core.py into utils.py
- [x] Move core.py to use the default stdout print, one report function that calls a bunch of others (text into templates too)
- [ ] Add in tests on th

[2019-05-12 00:00] theianrobertson commented on #39
As per #40 I've got the spark tests running on Travis, and did swap over to pytest spark (not that it's totally required, but swapped anyway).  Will be doing a major version bump when that gets merged to master.

[2019-05-12 00:00] #39 closed

[2019-05-12 23:17] fdosani opened #41 "Issues with Travis CI and pytest-spark"
Seems like the latest `pytest-spark` has a bug or something. I've been tinkering around with it to get Spark up and running. Have a MVP repo here: https://github.com/fdosani/travis-pytest-spark

We should probably pin `pytest-spark` until this sort itself out. Also in the repo is a `.travis.yml` on how to setup the environment so a standalone spark instance can be used for unit testing. Hope this

[2019-06-04 01:16] alegarpa opened #42 "Drop Matching Rows and Columns in Mismatch Output for Readability."
Currently the csv that's being written out has all the columns written out on a failed comparison making it harder to read with a larger data-set.
This is more of a feature request but the ability to only have columns that didn't match written to the mismatch csv would really help and speed up the QA process on our end.

[2019-06-05 15:33] fdosani commented on #42
Thanks for opening this issue @alegarpa
@theianrobertson thoughts on this feature request?
It seems reasonable to me FWIW.

[2019-07-17 09:15] aayush-jain18 opened #43 "idea/question: Writing compare/output results in a structured format(sqlite, csv, json)"
Having a structured format output can help in below cases
- There is a large number of differences between the two dataframes
- There is a need to filter, perform operations, generate dashboards on output/compare report

||row_num|key[symbol:quotedate]|close (Original)|close (New)|numdiff|text (Original)|text (New)|textdiff |
|---|---|---|---|---|---|---|---|---|
0|4|[AAN:01-05-2016]|20.0|23.12|3.

[2019-09-19 17:02] ZlatGod opened #45 "No. of rows shown in comparison are limited to 10."
'Sample Rows with Unequal Values' shows just 10 rows which are different.
I want to see what changed in all the rows in the 2 dataframes, not just 10 rows.

Is there a way I can see all the unequal rows?

Please advise.

[2019-09-19 17:03] ZlatGod commented on #43
How did you manage to get this Output?
I would like to have something like this as well.

[2019-09-19 17:10] aayush-jain18 commented on #43
Initially, I created the above reports manually. I started some work here (https://github.com/aayush-jain18/AllSpark) for some of the features that I needed like cli and structured compare report

[2019-09-19 18:09] ZlatGod commented on #43
Got it. I need my output to look something like this as well. Will see if I can use your tool.
Meanwhile, can you check my Issue as well?
I just posted an issue a while ago. Not able to see more than 10 rows in the output.

[2019-09-20 13:22] fdosani commented on #43
Thanks for the suggestion @aayush-jain18.
Are you thinking structured in the sense of a data frame of the output being returned?

[2019-09-20 15:17] fdosani commented on #45
Hey there, Thanks for the question.
So I think you could do this in a couple of ways:

This might not be idea but one option if you want to see a specific column and you know the number of records you'd like to sample

[code]

Another option is to use:

[code]
`intersect_rows` gives you a dataframe which you can then check the `*_match` fields.

3rdly the following will also return more rows if yo

[2019-09-20 16:07] ZlatGod commented on #45
Thanks a lot. I was able to configure my way to see all rows.
I was wondering if there is an effective way to format parts of the compare.report output in a data frame?
I am thinking of converting the output to a CSV and then loading it as a dataframe.
Please let me know if you have a better way of doing it.

[2019-09-20 17:17] fdosani commented on #45
@ZlatGod when you say format, what do you mean exactly? Like visual formatting? Or something else. Sorry, just want to make sure I'm understanding correctly

[2019-09-20 18:26] ZlatGod commented on #45
When you see the compare.report output there are a lot of sections in that output.
Some of them are under the following headings:
1. Columns with Unequal Values or Types
2. Sample Rows with Unequal Values

So out of all the sections in the output, I just want to capture the output data which is under the above-mentioned headings. Once I capture them, I want to convert it into a dataframe.

Refer t

[2019-09-23 21:10] ZlatGod opened #46 "Are there any methods or any way to get different sections of the report individually?"
For eg.
When I run the report on my dataframes, I want only the output under the 'Columns with Unequal Values or Types' columns.

I also want the output of 'Sample Rows with Unequal Values'.

These are the only part of the compare.report I need. Is there any way to capture only this part of the report?

[2019-09-25 12:04] fdosani commented on #45
I think `compare.column_stats` would give you the above in a `dict` format.
Does that help?

[2019-09-25 12:05] fdosani commented on #46
@ZlatGod I think this is similar to https://github.com/capitalone/datacompy/issues/45 so I'll close this one and continue the conversation there.

[2019-09-25 12:05] #46 closed

[2019-09-25 12:08] fdosani commented on #43
@aayush-jain18 I'm OK with this as a new feature. I think it could be helpful. @theianrobertson any thoughts or comments. I can add this to the backlog if there are no objections.

[2019-09-25 14:35] fdosani opened #47 "tests are failing due to test_decimal_with_joins"
Seems like the TravisCI tests are failing. I think this is due to the version of various packages not being pinned. As the packages change and evolve so will testing behaviour.

The following test is failing:

[code]

I think in the past Pandas might have has different behaviour. Testing with `0.19.0` version of Pandas and Python `3.5 ` it still seems to NOT throw any error.

[2019-09-25 14:45] fdosani opened #48 "Dropping support for Python 2?"
Wondering if we should have some conversation about dropping Python 2 support as it is coming soon to EOL. Right now we are support both, but it might help simplify things if we only go with 3.6+ in the next major release?

@theianrobertson @jborchma @gforsyth @slott56 Would appreciate any feedback on this.

[2019-09-25 14:48] fdosani commented on #47
@theianrobertson what should be the intended functionality here? Decimal("1") == 1?

[2019-09-25 15:03] jborchma commented on #48
Let's drop it!

[2019-09-25 15:05] fdosani commented on #47
So I was able to track this down to `pandas==0.23.4`.

Get the following error:
`ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat`

I think removing the raises is the right thing to do. Seems to be a pandas versioning issue/bug.

[2019-09-25 15:49] fdosani commented on #48
I agree 👍

[2019-09-25 16:21] gforsyth commented on #48
Strong agree. Drop it

[2019-09-26 13:02] #47 closed

[2019-09-27 13:06] #41 closed

[2019-09-27 15:43] hugovk commented on #48
Please see PR #51.

[2019-09-30 14:22] fdosani opened #52 "Update docs to cover 0.7.0 changes"
- Keep track of 0.7.0 changes
- Update docs with regards to Py2 support.

[2019-09-30 14:25] #48 closed

[2019-10-29 02:39] DeonBoon opened #53 "SparkCompare Throwing NameError."
Hi author, I am trying to use the SparkCompare functionality with the sample code that you have provided but it is throwing me this error:

[code]

Any idea why is this happening? Thanks! :)

[2019-10-29 04:01] #53 closed

[2019-10-29 04:02] DeonBoon commented on #53
Found out that sparkcompare.py wasn't able to locate my spark folder so i added these lines of code in sparkcompare.py

`import findspark
findspark.init('C:\spark\spark-2.4.4-bin-hadoop2.7')`

[2020-01-03 17:22] dan-coates commented on #13
@fdosani and @theianrobertson, this was a long-standing bugaboo of mine, and I think I'm going to put some time into maybe finishing this off. Since there are some judgment calls in this sort of alignment, I wanted to check to see if there are any changes that have been made so far or are planned that are fundamental here, vs. what's still open for discussion.

I'll weigh in with further thoughts

[2020-01-03 21:40] dan-coates commented on #13
I just went through a lengthy conflict resolution to make `combine` up to date with `master` so I got a little taste of the changes... my main question off the bat is whether or not we should use ABCs here. I tend to think we should, and here's why:

`Compare` is a pretty large beast. It defines many internal and external methods and properties - it looks like there may be 50 of them. Simply under

[2020-01-04 14:46] theianrobertson commented on #13
Hey Dan!

I got distracted and haven't done much on this in longer than I'd care to admit.  My efforts so far were to use `Combine` as the base class, and try to have most of the complex logic call out to specific functions that could be implemented differently in Pandas/Spark, i.e. function `df_row_count('df1')` would have to be implemented differently in `Compare` and `SparkCompare`, but could t

[2020-01-06 00:06] dan-coates commented on #13
I haven't started anything yet - I wanted to make sure it was an acceptable idea. :) I think my next step will be to orient myself around all the attributes that would be part of a base class, looking across both pandas and Spark versions, since it's been quite a while since I've looked at this code (and I'm less familiar with the pandas stuff).

How about I do that and then we go through to make

[2020-01-06 00:09] fdosani commented on #13
I think having a base class with as much functionality and defining a common API makes a ton of sense. Happy to contribute to this as well if you guys want a hand.

[2020-01-06 19:49] dan-coates opened #55 "Use type hinting & support Python 3.5+"
Since we target Python 3.5+ in our CI testing, we can make this explicit and commit to only supporting that version and higher. This will enable us to use type hinting in our code, which would have a few benefits:

* IDE support for types while developing datacompy
* IDE support for types for users using datacompy
* Ability to do static type checking in our CI pipeline
* Automatic type inference d

[2020-01-06 20:30] dan-coates commented on #13
Alright, I just went through the inventory and between the two classes we have 104 different class parameters, methods, attributes, and properties to align. :) Very little is actually the same right now, which actually makes me think this is issue quite valuable, since they should be doing the same stuff and a lot of this is just arbitrarily different.

I have it in a Google Sheet right now - let

[2020-01-06 21:50] theianrobertson commented on #13
Sounds good, thanks Dan. This is definitely a big lift so let's figure out a way to split up the work.

[2020-01-13 23:02] dan-coates commented on #13
I've been trying to figure out how to share the API comparison spreadsheet I created in a way that won't get blocked by our work policies... I think I found out an option with my personal Google Drive: https://drive.google.com/file/d/0B0wINV0NXt63VkFtcFJydi1iN1NxejlfQU56bXNLT2Q0TlpJ/view?usp=sharing

That's open to the internet for commenting but you'll have to request access to edit.

I've been u

[2020-01-16 16:03] mangoLily opened #56 "Understanding Intersect_rows when df1 and df2 have one-to-many relationships"
If I am trying to compare the intersect rows for the following two dataframes:
[code]
compare.intersect_rows only return the following rows:

key | value_df1 | value_df2 | _merge | value_match
-- | -- | -- | -- | --
foo | 1 | 5 | both | False
bar | 2 | 6 | both | False
baz | 3 | 7 | both | False

While I am expecting an additional row:

key | value_df1 | value_df2 | _merge | value_match
-- | -- |

[2020-01-16 18:41] mangoLily commented on #56
https://github.com/capitalone/datacompy/blob/master/datacompy/core.py#L209-L226

It seems when join columns are not unique in one of the data frames, datacompy will add an additional order column in both data frames so combo of join columns are unique. This will in effect remove the additional rows for the same duplicated join columns.

**df1**

key | value | order
-- | -- | --
foo | 1 | 1
bar | 2

[2020-01-16 18:53] fdosani commented on #56
thanks @mangoLily. @theianrobertson any thoughts on the intent here?

[2020-01-31 21:42] behanjc opened #57 "Idea: Output join_cols in sample rows output for the report"
For the individual column comparisons, the join_cols are always outputted followed by the values in df1, df2.

However for the Sample Rows Only in df1/df2, the first 10 columns are outputted.
Suggestion would be to force the output to show the join columns in this as well, as sometimes (for whatever reason) the join columns are not in the first 10.

Having it present would make downstream investig

[2020-03-10 19:14] simonwongwong opened #58 "Inequality when comparing two empty numpy arrays"
Comparison of two empty `numpy` arrays currently return `False`, which results in showing diffs where there shouldn't be.

This is due to the way `numpy` compares empty arrays.
Running `bool(np.array([]) == np.array([]))` returns `False` and throws this warning:

[code]

Reproduce this bug with:
[code]
output:
[code]

[2020-04-12 01:49] PABNY opened #59 "Doesnt take into account join columns when doing strip() of white spaces"
Join columns can have whitespaces as well,so ideally below section should be enhanced to check for ignore_spaces and strip() if it is true for string columns
This is causing complete mismatch of 2 dataframes here in case 1 of join column has space:

if on_index and join_columns is not None:
            raise Exception("Only provide on_index or join_columns")
        elif on_index:
            self

[2020-04-13 13:50] fdosani commented on #58
Hey @simonwongwong hope all is well!
I'll take a closer look at this sometime this week. Thanks for bringing this up and opening up the issue.

[2020-04-13 13:55] fdosani commented on #59
Hey @PABNY would you be able to provide an example of your column names you are using? Typically when we create data frames the best practice would to use `_` in place of spaces. I'd like to look into this a bit more and have a discussion about this. thanks for raising the issue!

[2020-04-13 14:32] PABNY commented on #59
Hi Faisal

Issue is in data itself having whitespaces in join columns not in column names.
Like
JOIN_COL_1='B' in DF1
JOIN_COL_1 ='B ' in DF2
so below section should be enhanced or a new section should be there to take care of doing strip for join columns as well?
Below I guess takes care of stripping of only non join columns in 2 data-frames:
 try:
                if ignore_spaces:

[2020-04-13 16:39] fdosani commented on #59
Ahh I see. Sorry I misunderstood the original comment there. OK, let me take a look in a bit. Just a bit busy ATM, so will get back to you shortly.

[2020-04-15 04:29] simonwongwong commented on #58
![image](https://user-images.githubusercontent.com/17996988/79298793-28ad2080-7eb0-11ea-97b3-0b94e6203cf4.png)

[2020-05-05 13:36] fdosani opened #60 "Setup better branching and split out the docs."
- I'd like to move to a `master` / `develop` branching style.
- Also I'd like to move to having docs on `gh-pages` as a separate branch vs on `master`.

@jborchma: Thoughts on this?

[2020-05-06 13:11] #60 closed

[2020-05-14 20:14] fdosani commented on #58
@jborchma Just want to circle back on this. Thoughts on just checking if both are empty and throwing an exception? This might be something which is never encountered (comparing 2 empty dataframes)

[2020-05-14 20:30] jborchma commented on #58
So technically two empty dataframes should be equal. Maybe we could return `True` and a log message?

[2020-05-14 22:23] fdosani commented on #58
I'm aligned with that. I'll try and do a quick PR here.

[2020-05-14 22:39] fdosani commented on #58
@jborchma So it seems like @simonwongwong is comparing arrays here. So obviously empty arrays make sense. But the following also doesn't work

[code]

Mainly due to the fact that: `ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`

`0` is a issue. `1` element works fine, and than `>1` is also an issue.
I guess this isn't a simple change but I'

[2020-05-14 22:46] fdosani commented on #59
@jborchma Thoughts on stripping the column names before processing? I'm ok with it but wanted to get your thoughts. Any downsides from your side?

[2020-05-14 22:54] fdosani commented on #59
Example:

[code]

Which yields:

[code]

[2020-05-15 00:00] fdosani commented on #58
@simonwongwong Are you comparing a lot of np.arrays? (Could you have arrays of > 1 length?) I'd like to think about the use case a bit more if you have thoughts.

[2020-05-15 00:48] jborchma commented on #59
Don't really have any issues with that. Sounds like a nice feature to have

[2020-05-15 01:35] PABNY commented on #59
My query,bug was mainly on key column values not name
Key column values are not getting stripped of whitespace
Strip of whitespace happens only for non key columns

On Thu, May 14, 2020, 8:48 PM Jan Borchmann <notifications@github.com>
wrote:

[2020-05-15 12:48] #59 closed

[2020-05-15 12:59] fdosani commented on #56
Tagging @jborchma for opinions also

[2020-05-16 00:05] simonwongwong commented on #58
My use case was reading CSV files with empty arrays using pandas -- pandas will read arrays as numpy arrays and two empty numpy arrays cannot be equal

[2020-05-16 00:24] fdosani commented on #58
Makes sense. I think the issue boils down to how Pandas internalises the dtype for an array. It will be an `O` (Object). But so is string, or another other items which isn't a base dtype that Pandas supports. We could check the first item of that columns and check to see if it is a `np.ndarray` but that seems really ugly to me. I'm open to other thoughts or suggestions. For your use case will it a

[2020-05-16 01:07] fdosani commented on #45
Closing the issue. Feel free to reopen it if you need.

[2020-05-16 01:07] #45 closed

[2020-05-16 01:09] fdosani commented on #55
@dan-coates I might look into implementing this for the next release. I think we are away from Python 2 support so the minimum moving forward will be 3.5+. did you want to take a crack? Or if you had other thoughts around this?

[2020-05-16 01:13] fdosani commented on #57
@behanjc I think this makes sense. If you have a simple snippet could you paste it would just ground the intent here. But basically maybe as a rule always have the join cols to start in the output and then throw the "first" 10 (not including the joins)

[2020-05-16 01:15] fdosani commented on #17
@Madaditya Not sure if you have a snippet? If I don't hear back in a few days I'll consider this issue closed. Thanks!

[2020-05-16 01:18] fdosani commented on #33
@ModeltownMayor Sorry about the lack of response here. I'm going through and going to try and tackle all the issues in the repo this coming week. Not sure if this is still an issue for you. If you have a example bit of code that would be great.

[2020-05-16 03:27] simonwongwong commented on #58
In my case it wasn't always empty.
Another option could be to convert them to Python lists instead of `np.ndarray`

[2020-05-17 00:13] #52 closed

[2020-05-17 00:13] #43 closed

[2020-05-17 00:15] fdosani commented on #58
@theianrobertson Thoughts on this issue? Dataframes with numpy arrays in columns.

[2020-05-17 13:37] jborchma commented on #56
So an easy thing could be to have a toggle for deduping. However, this does have the potential to blow up the dataframe when there are more multiples.

[2020-05-17 14:56] jborchma commented on #58
So what Simon really wants is elementwise comparison of the arrays, right?

[2020-05-17 15:15] jborchma commented on #55
I would actually propose to drop 3.5 support as well. A lot of major packages have dropped support for that version and the official EOL is not far off.

[2020-05-17 15:20] fdosani commented on #58
Yup that’s exactly it. Not an actual empty data frame.

On Sun, May 17, 2020 at 11:56 AM Jan Borchmann <notifications@github.com>
wrote:

[2020-05-17 15:25] jborchma commented on #58
I guess we would want to use something like [the numpy function](https://numpy.org/doc/stable/reference/generated/numpy.array_equal.html?highlight=array_equal#numpy.array_equal) to compare arrays.

[2020-05-17 15:25] simonwongwong commented on #58
Yeah, on non-empty arrays it'll do a normal element wise comparison, but empty `np.array`s will never be equal

[2020-05-17 15:29] fdosani commented on #58
The main issue is detecting if it is a np array. Since it comes up as an
object in pandas for the dtype. We’d need to inspect the actual element to
know for sure what we are dealing with. But then the questions comes up of
we should support other things.

On Sun, May 17, 2020 at 12:25 PM Simon Wong <notifications@github.com>
wrote:

[2020-05-17 15:30] fdosani commented on #58
If you look at my above example I’m not sure datacompy will automatically work. It will complain and suggest any or all.

[2020-05-17 15:40] fdosani commented on #55
Personally I think it makes sense to wait and do it once it is Officially
dead dead. Also I don’t think there is a huge cost at the moment to support
it.

On Sun, May 17, 2020 at 12:15 PM Jan Borchmann <notifications@github.com>
wrote:

[2020-05-17 22:25] jborchma commented on #55
True, EOL for 3.5 is in September.

[2020-06-09 02:14] fdosani commented on #58
@jborchma Any further thoughts on this. I think the main issue is where and if you draw the line of things to compare.

[2020-06-22 02:37] ferenyx opened #67 "`Compare._validate_dataframe` assumes columns have string labels"
It appears that `_validate_dataframe` assumes that columns have string labels (it unconditionally calls `.lower()` on them), which raises `AttributeError` if columns instead have other types of labels (e.g. numerical):

[code]

[2020-06-22 12:53] jborchma commented on #67
We'll take a look!

[2020-06-22 14:50] ferenyx opened #68 "`Compare._validate_dataframe` lowercases column names prior to checking for uniqueness"
Prior to the check for uniqueness, `_validate_dataframe` does `dataframe.columns = [col.lower() for col in dataframe.columns]`. If columns have unique mixed-case labels, these could collide when lower-cased as in this example:

[code]

[2020-06-22 14:52] ferenyx commented on #68
This is related to #67, and the fix could potentially be the same - please let me know if you'd prefer I report this as part of that issue!

[2020-06-22 19:09] jborchma commented on #68
I think adding a toggle to the lower casing might solve this. However, I would probably argue to keep the default to always do the lower casing.

[2020-06-22 19:14] ferenyx commented on #68
that sounds reasonable to me!

[2020-06-23 15:19] #68 closed

[2020-06-23 15:20] #67 closed

[2020-06-29 14:24] whitesource-bolt-for-github[bot] opened #71 "CVE-2020-13091 (High) detected in pandas-0.24.2-cp27-cp27mu-manylinux1_x86_64.whl"
## CVE-2020-13091 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>pandas-0.24.2-cp27-cp27mu-manylinux1_x86_64.whl</b></p></summary>

<p>Powerful data structures for data analysis, time series, and statistics</p>
<p>Library home page: <a href="https://files.pythonho

[2020-07-15 16:53] gandhis1 opened #74 "Make lowercasing of column names optional"
If you are using camel case naming conventions and have several multi-word column names, then automatic lowercasing of names will make the final result less readable.

There is only a need to lowercase when you have case-insensitive duplicates. If you do not, there is no need to disambiguate. So why not add an option to turn this off? If there are duplicates, then simply throw - it already does th

[2020-07-15 16:58] gandhis1 opened #75 "Allow customization of comparison report"
At present it does not seem the built-in comparison report accepts any parameters. For one, I would like to be able to set the row limit myself as far as how many differences are printed per field. By default this is 10 - I'd like to optionally change this.

Appreciate the use of smart defaults, but any hard-coded parameter - 10 or otherwise, I feel ought to be something that can be configured ext

[2020-07-15 17:03] fdosani commented on #71
We are only enforcing minimum versions of Pandas, so it is left up to users to pick an appropriate Pandas version. At some point we may bump up Pandas versions but I don't think this is something we would do at this moment.

[2020-07-19 23:03] dclong opened #76 "Make SparkCompare.report return string"
Rather than make it print to stdout (or a file)?

The Compare.report returns a string by default. I think it's better to make those method behave consistently.

[2020-07-20 16:04] fdosani commented on #76
@dan-coates Thoughts on this since you're the driving force behind the Spark version. I'm cool with changing things around here.

[2020-07-20 17:37] fdosani commented on #74
Hi @gandhis1 Could you please provide a minimal working example of the issue at hand. Personally I think it would be helpful to ensure we are on the same page. Currently we have `cast_column_names_lower` which can set if you want to column names to be lower cased or not. Does this not help your issue? Or maybe I'm misunderstanding.

Thanks!

[2020-07-20 17:39] fdosani commented on #75
If you can provide some examples of what you are looking for that would be great. This way the team can have a discussion about potential features from your request.

[2020-07-20 17:40] fdosani commented on #17
Closing the issue. Please feel free to reopen if you have time to provide details.

[2020-07-20 17:40] #17 closed

[2020-07-20 17:41] fdosani commented on #33
Closing issue. Please feel free to reopen if you have more details. Thanks!

[2020-07-20 17:41] #33 closed

[2020-07-20 19:26] gandhis1 commented on #74
Ah I see this was added very recently.  In fact, the version on PyPi (0.70) doesn't even contain this feature yet, which is why I hadn't noticed it. This can be closed, although I hope you guys will be able to release the new version to PyPi soon?

[2020-07-20 19:29] fdosani commented on #74
yeah we can do a minor release. I'll do one shortly.

[2020-07-20 19:30] #74 closed

[2020-07-20 20:08] gandhis1 commented on #75
Closing, I found out this [already exists as well](https://capitalone.github.io/datacompy/api/datacompy.html#datacompy.core.Compare.report).

[2020-07-20 20:08] #75 closed

[2020-07-21 00:31] dclong commented on #76
Also, I think it actually makes things more convenient to return a string as users may:

1. send email about the report summary
2. customize logging to make it easier to parse from the extremely large spark application log

[2020-07-21 00:53] jborchma commented on #76
I'd be also supportive of this change!

[2020-07-21 05:13] dan-coates commented on #76
Oh boy... I know at one point I had a well-reasoned argument for this with comparisons of what code would look like in both situations.

Other than mimicking SAS's PROC COMPARE as much as possible, I think my rationale was that you probably want to do one of two things with this output - print it, or save it. In the first case, that's one line (`comparison.report()`) and in the second it's two lin

[2020-07-21 13:39] whitesource-bolt-for-github[bot] opened #79 "CVE-2020-11022 (Medium) detected in jquery-3.4.1.js"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-3.4.1.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js">https://cdnjs.cloudflar

[2020-07-21 13:45] fdosani commented on #79
Fixed with recent push to gh-pages: 2155313970139292659d0001e8bbf8459b592af1

[2020-07-21 13:45] #79 closed

[2020-07-27 21:02] jborchma commented on #76
One compromise could be to leave the spark report function mainly as is but in addition also add the string to be returned at the end.

[2020-07-30 22:21] gandhis1 opened #81 "Use deterministic output order for column-based reporting"
One section of the output report is called "Sample Rows with Unequal Values". It prints each column with differences and then 10 rows of differences. However, I've noticed that this output changes with multiple runs - so multiple calls of `.report()` will give you output in a different order. As an example, if you have two dataframes with the columns A, B, and C, all of which have differences, the

[2020-08-24 17:38] tmbjmu opened #82 "Project CLA"
@ryanshiroma Can you please sign the project CLA for datacompy project? If you plan to submit a PR in the near future, CLA-Assistant bot will prompt to to sign. If you aren't planning to submit any new PRs to the project, pls use this link to sign: https://docs.google.com/forms/d/e/1FAIpQLSfwtl1s6KmpLhCY6CjiY8nFZshDwf_wrmNYx1ahpsNFXXmHKw/viewform

We appreciate your contributions to the project an

[2020-08-24 17:40] tmbjmu commented on #82
@theianrobertson Can you please sign the project CLA for datacompy project? If you plan to submit a PR in the near future, CLA-Assistant bot will prompt to to sign. If you aren't planning to submit any new PRs to the project, pls use this link to sign: https://docs.google.com/forms/d/e/1FAIpQLSfwtl1s6KmpLhCY6CjiY8nFZshDwf_wrmNYx1ahpsNFXXmHKw/viewform

We appreciate your contributions to the projec

[2020-08-27 19:15] tmbjmu commented on #82
@theianrobertson @ryanshiroma Just following up here. Pls let me know if you have questions.

[2020-08-31 20:58] kavita-srinivasan opened #83 "Add "Sample Rows with Unequal Values" to SparkCompare"
I'd love to see `SparkCompare` produce "Sample Rows with Unequal Values". This is a really useful section from the `pandas` version of `datacompy`.

[2020-08-31 21:06] kavita-srinivasan commented on #83
@dan-coates, Faisal mentioned that you built out the Spark functionality. Is this a relatively easy feature to add?

[2020-09-01 16:28] tmbjmu commented on #82
@fdosani Please let me know if there is a better medium by which to contact @theianrobertson and @ryanshiroma to obtain the aforementioned CLA signatures. Thanks!

[2020-09-01 17:07] theianrobertson commented on #82
Signed

[2020-09-17 04:50] ryanshiroma commented on #82
Hey sorry for the delay, signed.

[2020-09-21 05:07] souvikchattopadhyay opened #84 "NameError: name 'F' is not defined - getting this issue in sparkCompare"
~\Anaconda3\lib\site-packages\datacompy\sparkcompare.py in <listcomp>(.0)
    521         def helper(c):
    522             # Create a predicate for each match type, comparing column values to the match type value
--> 523             predicates = [F.col(c) == k.value for k in MatchType]
    524             # Create a tuple(number of match types found for each match type in this column)
    525

[2020-09-22 03:22] fdosani commented on #84
It would be helpful for debugging if you could provide some minimal code to get the following error. Just looking at your error message it isn't very clear what is going on. Maybe some code, what you tried to run, what version you are using etc..

[2020-10-14 21:44] tmbjmu opened #85 "Please update codeowners file"
Please be sure to add trusted reviewers to your codeowners file and the project write team.

[2020-10-15 16:59] #85 closed

[2020-11-12 21:06] whitesource-bolt-for-github[bot] opened #87 "CVE-2020-14343 (High) detected in PyYAML-5.3.1.tar.gz"
## CVE-2020-14343 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>PyYAML-5.3.1.tar.gz</b></p></summary>

<p>YAML parser and emitter for Python</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/64/c2/b80047c7ac2478f9501676c988a5411ed5572f35d

[2020-11-23 22:13] cabymetal opened #89 "TypeError: an integer is required - during import"
there is an error during import when I run
`import datacompy`

this error arises
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\datacompy\__init__.py", line 20, in <module>
    from datacompy.sparkcompare import SparkCompare, NUMERIC_SPARK_TYPES
  File "C:\Users\user\AppData\Local\Programs\Pyt

[2020-11-23 22:28] #89 closed

[2020-11-23 22:29] cabymetal commented on #89
after reading the error I notices that it was a pyspark error not a datacompy error sorry

[2020-12-01 22:27] jborchma commented on #71
So I know Dask, for example is oving to Pandas version 0.25 as its minimum supported version. Maybe it would be appropriate to do the same...

[2020-12-04 00:14] #71 closed

[2020-12-05 15:28] jborchma commented on #84
Closing this since there was never any follow up.

[2020-12-05 15:28] #84 closed

[2020-12-08 22:37] jborchma opened #93 "Tests are failing in Spark 3 with Python 3.7.x"
Apparently the test are failing when using Spark 3 with Python 3.7.x. See #91.

[2020-12-09 08:23] fdosani commented on #93
will need to investigate this a bit more. Weird this is happening. Spark 3 should work with 3.7, it was more that spark 2.4.x had issues with 3.8

[2020-12-09 21:50] fdosani commented on #87
Given this is being caused by pre-commit which is part of the testing requirements and not really the main library, I think we just need to wait for pre-commit to fix it on their end. @jborchma @tmbjmu Any thoughts on this?

[2020-12-09 21:54] fdosani commented on #82
Closing, this has been completed.

[2020-12-09 21:54] #82 closed

[2020-12-10 01:44] jborchma commented on #93
Yeah, I am also curious about this. Seems like this might actually be an issue with the Spark code and not a version conflict.

[2020-12-10 14:26] jborchma commented on #87
How are you seeing that pre-commit is causing this?

[2020-12-10 15:41] fdosani commented on #87
It is above in the original comment:

[code]

[2020-12-19 13:35] fdosani opened #95 "Move to Gihub Actions from Travis"
I think moving to Github actions might make sense. I've been noticing that Travis' support for OSP has lead to long queuing times. GitHub actions sort of replaces Travis for our purposes.

[2021-01-07 21:40] fdosani opened #97 "Clean up CLA and `setup.py`"
Similar to `locopy` here: https://github.com/capitalone/locopy/pull/115
- clean up the CLA verbiage as it is out of date
- remove the extra requirement files and move to `extras_require`
- would also like to include `isort`

[2021-01-08 16:46] #97 closed

[2021-01-08 16:47] fdosani commented on #95
Completed based on #96. Closing issue.

[2021-01-08 16:47] #95 closed

[2021-01-13 20:42] fdosani commented on #93
Seems like this might have to do with the order of the datasets being compared and unioned in the actual tests. Have a fix coming.

[2021-01-14 14:02] #93 closed

[2021-01-27 11:10] tczhao opened #101 "more statistics in .report when matched column have difference in value"
I think producing statics like
absolute difference and the relative difference between
- mean
- median
- percentiles
when column schema matches but have the difference in values

can be very helpful to day-to-day data science summary comparison.

Any thoughts?, happy to make a PR if there's no resource

[2021-01-28 17:51] fdosani commented on #101
@tczhao thanks for the suggestion. I think I'm aligned with this. @jborchma @elzzhu thoughts on this? For numeric fields this would make a lot of sense.

[2021-02-11 13:27] whitesource-bolt-for-github[bot] opened #105 "CVE-2020-11023 (Medium) detected in jquery-3.4.1.js, jquery-3.4.1.min.js"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-3.4.1.js</b>, <b>jquery-3.4.1.min.js</b></p></summary>
<p>

<details><summary><b>jquery-3.4.1.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a hr

[2021-02-24 18:48] trollcodelord opened #106 "Value Error"
raise ValueError("{} must have all columns from join_columns".format(index))

ValueError : df1 must have all columns from join_colums

Code
    compare = datacompy.Compare(df1,df2, join_columns =list(df1.columns), df1_name = 'XVY', df2_name = 'SAS')

    compare.matches(ignore_extra_columns=False)

[2021-02-25 05:14] fdosani commented on #106
Thanks for opening an issue. Could you output the column names from `df1` and `df2`? I'm going to guess that your `join_columns` don't match between them based on the error message.

[2021-04-09 16:37] #81 closed

[2021-05-26 21:09] fdosani commented on #106
Going to close this issue since I haven't heard back. Feel free to reopen it if needed.

[2021-05-26 21:09] #106 closed

[2021-06-29 23:17] fdosani commented on #105
Going to try and push a clean version of the docs to `gh-pages` and see if this resolves this issue.

[2021-06-29 23:40] fdosani commented on #87
This should be fixed now given pre-commit is at: `2.13.0` and is part of the `dev` environment and not the base package.

[2021-06-29 23:40] #87 closed

[2021-06-29 23:53] fdosani commented on #105
bumped up to 3.5+ of jquery. This should be resolved moving forward.

[2021-06-29 23:53] #105 closed

[2021-08-05 22:50] fdosani commented on #101
@tczhao Closing this issue since I haven't heard back. Feel free to reopen if needed.

[2021-08-05 22:50] #101 closed

[2021-08-05 22:52] fdosani commented on #8
@theianrobertson This is really old. Ok to close it. Not sure if anything came out of it. Feel free to reopen it if you feel otherwise.

[2021-08-05 22:52] #8 closed

[2021-08-05 23:06] fdosani commented on #83
@kavita-srinivasan hoping to follow up on this and see if there was any action needed?

[2021-08-05 23:08] fdosani commented on #76
I know this is a bit long over due but I'll add this to our backlog of things to do. I think a refactor fo the Spark API is in order.

[2021-08-05 23:11] fdosani commented on #58
@simonwongwong This was a while back now. I'm going to close this issue, but feel free to reopen if it seems like something we need to rehash. Trying to organize our backlog and work through some of these older issue if needed.

[2021-08-05 23:14] fdosani commented on #56
@mangoLily I'm going to close this issue as it has become stale, but feel free to reopen if it you'd like to revisit it. Working through and going to prio the backlog.

[2021-08-05 23:14] #56 closed

[2021-08-05 23:15] fdosani commented on #13
I think while this is old, it is still relevant and something which needs to be done. Something we should try to do by YE of 2021 given bandwith.

[2021-08-05 23:16] fdosani commented on #25
No longer using Travis. Closing

[2021-08-05 23:16] #25 closed

[2021-08-05 23:25] fdosani commented on #42
Adding to roadmap and backlog.

[2021-08-05 23:27] fdosani commented on #57
@behanjc Just wanted to follow up on this. If this isn't relevant I'll close this issue. Feel free to reopen it up.

[2021-08-05 23:27] #57 closed

[2021-08-05 23:28] #83 closed

[2021-08-09 08:51] NiteshOO7 opened #112 "compare.df1_unq_rows and compare.df2_unq_rows don't provide the correct index of unique rows from respective dataFrames"
Row indexes are not right while trying to find out unique rows which are missing in respective dataFrames.
compare.df1_unq_rows and compare.df2_unq_rows returns the unique rows which are missing in respective dataFrames but their index are not returned correctly. Please have a look at this issue. I would be really great if the right indexes are returned on using mentioned functions.

[2021-08-09 11:22] fdosani commented on #112
@NiteshOO7 could you provide a code snippet and output of the issue you are facing so we can try and reproduce exactly what you are facing?

[2021-08-09 12:13] NiteshOO7 commented on #112
**Kindly find code snippet below:**

=================================================================================
import pandas as pd
import datacompy

df_old_original = pd.DataFrame([[1, 1, 1, 1], [2, 2, 2, 2], [7, 7, 7, 7], [3, 3, 3, 3], [4, 4, 4, 4], [5, 5, 5, 5], [6, 6, 6, 6]], columns=['A', 'B', 'C', 'D'], index=[0, 1, 2, 3, 4, 5, 6], dtype=object)
df_new_original = pd.DataFrame([[None,

[2021-08-09 14:58] fdosani commented on #112
Thanks, will take a look into this.

[2021-08-09 15:20] fdosani commented on #112
Ok, so maybe a bit of primer as to what is happening. I think depending on how to look at this it could be a not so great UX, but I'm not sure if this is a bug. In the above example you have 2 dataframes:

old
[code]

new
[code]

when we join these together we are joining on the following columns: `join_columns=['A', 'B', 'C', 'D']`. In order to get all the items which match and don't match we nee

[2021-08-10 04:24] NiteshOO7 commented on #112
My requirement is if a row is unique in either of the dataFrames then insert blank row to the other dataFrame i.e. if a row is left_only then insert a blank row in right side as per the index of the row which is left_only.
That's why I need original index of unique rows. I would be really great if you can help me out in this.

I got your point why compare.df2_unq_rows doesn't return the correct in

[2021-08-10 16:32] fdosani commented on #112
The second example looks like this:

[code]

I think the index is something you should not rely on since it doesn't correspond to the original dataset, since this is a new dataframe. You can just run the following to get the output from above:

[code]

The `_merge` columns gives you what you want to insert the blank rows etc.

[2021-08-11 06:34] NiteshOO7 commented on #112
As per your explanation  "compare.df1_unq_rows" should return below line:
![image](https://user-images.githubusercontent.com/37611047/128979654-c03c0acd-937e-4dcb-99aa-c5b70488b43d.png)
But instead it is retuning below lines:
![image](https://user-images.githubusercontent.com/37611047/128979818-d02bd293-9de8-4e1e-be99-22568632de67.png)

I hope I understood it correctly.

I tried this merge functio

[2021-08-11 12:33] fdosani commented on #112
yeah that seems to be a bug of some sort. Looking into that specific case. But I do think to your previous question about the indexes, the index in the outputs isn't intended to be used as you want, so you might need to figure out an alternative way to get what you need. The new dataframe is created joining both via an outer join so the index doesn't preserve from the original datasets.

I'll look

[2021-08-11 12:42] fdosani commented on #112
So my previous output was incorrect, since I only isolated some bits of the code. It should have been:
[code]

Which makes sense since you have  `7,7,7,7` twice as keys. First one joins with the right one and the second one is on its own.

[2021-08-12 08:25] NiteshOO7 commented on #112
Now it make sense. Can you please provide me what line of code you run to get above result?

[2021-08-16 17:09] fdosani commented on #112
To run the above code I just pip installed datacompy in editable mode. (Clone the repo and `pip install -e .`)
Then add some debug logging statements like the following:

[code]

I'm going to close this issue, feel free to reopen it if you feel there is more of a discussion to be had. I don't think there is any action item of changes we can really make.

[2021-08-16 17:09] #112 closed

[2021-08-31 18:53] fdosani commented on #13
@elzzhu @ak-gupta This has been a long pending issue. I'm wondering maybe [koalas](https://koalas.readthedocs.io/en/latest/) is the right options here to sort of cleanup and consolidate the spark + pandas API? Would love some thoughts or ideas on this.

[2021-09-03 12:59] jonashaag commented on #58
Hi everyone! This is a feature we're missing and I'm happy to spend some time implementing a solution (and also coming up with a proposal how to move forward, if you want).

[2021-09-03 13:04] fdosani commented on #58
Hey @jonashaag yes please. Would love contributions and thoughts from others. Happy to have you take this on. Appreciate you willing to help out. 🚀

[2021-09-13 12:27] jonashaag commented on #58
Had a look into the implementation -- the actual column comparison code (`def columns_equal`) seems rather unflexible/specifically built for use cases at Capital One. Here's two ideas how to deal with the NumPy array issue:

A) Add new fixed logic for NumPy arrays: try to detect NumPy array columns by looking at the actual series values. Use `.all()` for NumPy arrays.

B) Add a new system for cust

[2021-09-18 16:01] fdosani commented on #58
@jonashaag ill take a look at this on Monday. Been on a cation all week. Thanks for your help with this. I do think datacompy could be ready for a major refactor to be honest. Especially aligning the spark and pandas APIs

[2021-09-20 13:40] fdosani commented on #58
Reopening this issue. I like the idea of option B @jonashaag . But that seems like a bit of a refactor and something I've been thinking about with the package. I'd like to revisit it and see if there are opportunities to one make it more flexible and also play nicer with Spark/Pandas all in one spot.  I was thinking maybe koalas might be a good option here. Option A would be the quickest and spolv

[2021-09-20 15:17] jonashaag commented on #58
I have little experience with Spark and I'm not sure if I'll be able to invest the learning time right now.

[2021-09-20 15:17] fdosani commented on #58
That is perfectly fine, that is something I can lean into.

[2021-10-14 03:53] bendanye opened #115 "Display all columns instead of first 10 columns"
Hi there,

Is there a way to show all the columns for row which unable to find either on dataframes that used for comparing to overwrite current behaviours that only show first 10 columns? The reason is i may have more than 10 columns

For example in the current behaviour:

[code]

[2021-10-15 00:35] fdosani commented on #115
I think we can add this in as an option.  I can try and work on this tomorrow or early next week. In the meantime you can always clone the repo and change those 2 lines of code and run it in editable mode. Sent from ProtonMail for iOS On Thu, Oct 14, 2021 at 9:33 PM, Ng Shen Soon Benjamin ***@***.***> wrote:
@fdosani Yes correct, that what i meant

—You are receiving this because you were mentione

[2021-10-20 21:10] #115 closed

[2021-11-02 09:35] petrafakler opened #121 "Datacompy: Object/string misinterpreted as float -> false equal result"
While using datacompy.compare a string/object was misinterpreted as float (because string has only digits). After all the strings have got length 35 and are only different in the last digit. The misinterpreted float was cutted and compare says that the values are equal.

Example:

import pandas as pd
import datacompy as datacompy

df1 = pd.DataFrame({'ID':[1], 'REFER_NR': ['99987009907040017081779

[2021-11-02 23:28] fdosani commented on #121
Thanks for flagging this. I can take a closer look tomorrow morning. Sent from ProtonMail for iOS On Tue, Nov 2, 2021 at 6:35 AM, petrafakler ***@***.***> wrote:
While using datacompy.compare a string/object was misinterpreted as float (because string has only digits). After all the strings have got length 35 and are only different in the last digit. The misinterpreted float was cutted and compare

[2021-11-03 15:45] fdosani commented on #121
So looking into this issue, it seem to be happening [here](https://github.com/capitalone/datacompy/blob/develop/datacompy/core.py#L711-L725) due to the following code.

Using `np.isclose` throws an exception which then leads to logic to cast using a float. This actually works, but might have the unintended consequence you are facing. I think one option is to add a flag to not cast and treat any st

[2021-11-03 19:40] petrafakler commented on #121
Thanks for analysis

[2021-11-03 19:51] petrafakler commented on #121
Thanks for analysis so far :-)

[2021-11-03 20:51] elzzhu commented on #121
I think it makes sense to add a flag to not cast since there are instances where IDs are numerical but you don't necessarily want to treat them as such. If the flag was added, would the default behaviour be the current behaviour?

[2021-11-03 21:23] fdosani commented on #121
@elzzhu I think it would default tot he current behaviour:

- Current behaviour is to use `isclose` and then cast to float if there is an exception.
- New behaviour would be if the flag (ex: `dont_cast_string`) is `True` it would check with `isclose`, if an exception is thrown it will check if the flag is set and if the column is a "string" if so it will not cast and continue.

This should solve f

[2021-12-11 00:13] lkacenja commented on #112
Sorry for reviving a closed issue here. I'm working on a project to show before and after changes to large datasets as part of a QA process for our extract transform load pipeline. I also want to be able to show rows missing from the left or right dataset. I'm a bit of a python and pandas noob as well. Sorry for that.

The example code you provided above works really well. However when I debug out

[2021-12-12 15:59] fdosani commented on #121
I’m going to take a stab at a fix this week for this. Sorry fell off my radar.

[2021-12-24 01:37] whitesource-bolt-for-github[bot] opened #122 "CVE-2021-34141 (High) detected in numpy-1.21.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl"
## CVE-2021-34141 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>numpy-1.21.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl</b></p></summary>

<p>NumPy is the fundamental package for array computing with Python.</p>
<p>Library home page: <a href="https

[2022-02-25 19:55] fdosani opened #123 "Add support for edgetest (config)"
Adding `edgetest` support for ongoing project maintenance

[2022-02-25 20:00] whitesource-bolt-for-github[bot] opened #124 "CVE-2021-41496 (High) detected in numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl"
## CVE-2021-41496 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl</b></p></summary>

<p>NumPy is the fundamental package for array computing with Python.</p>
<p>Library home page: <a href="https

[2022-02-25 20:03] fdosani commented on #55
Closing this as 3.5 is EOL and no longer part of the support plan.

[2022-02-25 20:03] #55 closed

[2022-02-26 02:15] #123 closed

[2022-02-26 02:15] #124 closed

[2022-02-26 15:18] whitesource-bolt-for-github[bot] opened #128 "CVE-2019-11358 (Medium) detected in multiple libraries"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-3.2.1.js</b>, <b>jquery-3.1.0.js</b>, <b>jquery-3.2.1.min.js</b></p></summary>
<p>

<details><summary><b>jquery-3.2.1.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>

[2022-03-04 20:04] fdosani commented on #128
Closing, this should be fixed given that we are now on 3.5.1

https://github.com/capitalone/datacompy/blob/gh-pages/_static/jquery-3.5.1.js

[2022-03-04 20:04] #128 closed

[2022-03-16 14:44] avico78 opened #133 "Export datacompy report as HTML"
Is there an option to export datacompy to HTML?

[2022-03-16 15:58] sujitsatapathy84 opened #134 "Reporting more number of rows unique in source and not in target. Currently its limited to 10"
How to get more rows shown in the report like for rows available in source but not in target, if I want to see may be 100 rows. How do I do that?

I tried using print(compare.df1_unq_rows(sample_count=50),file=tgtuniqrows) but it gave me error as
print(compare.df1_unq_rows(sample_count=50),file=tgtuniqrows)
TypeError: 'DataFrame' object is not callable

Can you please help here?

[2022-03-16 16:26] fdosani commented on #134
Hi there,

It seems like you are trying to pass `sample_count=50` to a dataframe which won't work. `compare.df1_unq_rows` is just a Pandas [DataFrame](https://github.com/capitalone/datacompy/blob/develop/datacompy/core.py#L74).

So you could use `head(100)` on `compare.df1_unq_rows`. Something like:

[code]

Does the above work?

[2022-03-17 07:10] sujitsatapathy84 commented on #134
Hi,
Thanks for your response. I tried this but No it doesn't give the desired output, it still dumps first 5 and last 5 rows . The only difference when .head(100) given is, it gives first 5 and last 5 rows out of the top 100 rows whereas if it is not given then it still give first 5 and last 5 rows out of the total unique rows.

My requirement, is I want to get all uniq rows in df1 not in df2. If

[2022-03-17 07:12] sujitsatapathy84 commented on #134
compare=datacompy.Compare(df2,df1,join_columns=('contractId','contractSubscriptionId'))
print(compare.df1_unq_rows.head(100),file=tgtuniqrows)
print(compare.df2_unq_rows.head(100),file=srcuniqrows)

[2022-03-18 12:40] fdosani commented on #134
If it isn't showing all the rows you can set pandas to display everything like so:

[code]

`df1_unq_rows` should give you the distinct rows in df1:

[code]

[2022-03-22 09:40] sujitsatapathy84 opened #135 "Needed a list of mismatch rows which is common in 2 DataFrames and having only the columns which have mismatch values."
Hi,
I Needed a list of mismatch rows which is common in 2 DataFrames and having only the columns which have mismatch values.
For ex, I have df1 and df2 having 70 rows in common but there is 16 rows with mismatches for some columns. So I wanted those 16 rows with only the columns having the mismatches and do not need the columns which are matching.

I tried using compare.all_mismatch(), it gave me

[2022-03-22 11:02] fdosani commented on #134
I’m closing this issue as I haven’t heard back. Assuming this solved your question. Feel free to reopen if otherwise.

[2022-03-22 11:02] #134 closed

[2022-03-22 17:03] fdosani commented on #135
You can do something like this

setup some example data

[code]

Then find all the mismatch columns and save them in a list:

[code]

Finally you can subset `all_mismatch`

[code]

Hopefully this helps.
TLDR: you can do this with some work but isn't support with a single function or feature.

[2022-03-23 07:17] sujitsatapathy84 commented on #135
Thanks a lot this works but we would also need the join column in the final output, so as to identify the exact row based on the join column having mismatch. The column_stats has join column with unequal_cnt=0, how can we add the join column in the final output?

Thanks
Sujit

[2022-03-23 11:33] fdosani commented on #135
Just added it to your list of columns `column_names_mismatch`. If you know the name?

Please don’t take this the wrong way but it might be helpful to read the docs or take a pandas or python tutorial.

Some of the questions here are more just implementation details vs issues or package problems.

[2022-03-23 11:33] #135 closed

[2022-04-06 15:21] fdosani opened #136 "Move to main and dev for branch names"

[2022-04-19 15:48] fdosani opened #142 "fix build package action"

[2022-05-05 21:27] fdosani opened #146 "One very "nice to have" option would be to have "<=>" (at least optionally) as a join operator between spark dataframes so that null values will be joined and common rows and rows unique to one or the other dataframe will be accurate."
One very "nice to have" option would be to have "<=>" (at least optionally) as a join operator between spark dataframes so that null values will be joined and common rows and rows unique to one or the other dataframe will be accurate.

_Originally posted by @runrig in https://github.com/capitalone/datacompy/discussions/94#discussioncomment-2694968_

[2022-05-06 14:35] runrig opened #147 "Use "<=>" operator to join spark dataframes"
If there are nulls in the join columns of dataframes, they do not pass the join condition and so are not counted as common rows, and instead counted as unique to each dataframe. If the "<=>" operator is used instead of "=" in these statements, null values will be joined:
            join_condition = " AND ".join(
                ["A." + name + "=B." + name for name in self._join_column_names]

Thi

[2022-05-09 16:49] fdosani commented on #147
I'm ok adding this in. I think maybe having a flag to preserve the original functionality and also this new functionality. I think we should preserve the inherent difference of Spark and Pandas. Also before tackling this I think it might make sense to refactor the Spark version of the code align with the Pandas version. I know in newer Spark version there is alignment to using Koalas which is clos

[2022-05-09 19:21] fdosani commented on #147
@runrig small favour to ask. Could you provide a small working example just so I can recreate something on your side and also use for testing purposes?

[2022-05-09 21:13] runrig commented on #147
Example:
`cols = ["id", "name", "salary", "Address"]

df1 = spark.createDataFrame([
  [1, "ABC", 5000, "US"],
  [2, "DEF", 4000, "UK"],
  [3, "GHI", 3000, "JPN"],
  [4, "JKL", 4500, "CHN"],
  [None, "MNO", 42, "FOO"]
], cols)

df2 = spark.createDataFrame([
  [1, "ABC", 5000, "US"],
  [2, "DEF", 4000, "CAN"],
  [3, "GHI", 3500, "JPN"],
  [4, "JKL_M", 4800, "CHN"],
  [None, "MNO", 42, "FOO"]
], cols

[2022-07-08 01:02] mend-for-github-com[bot] opened #151 "numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl: 1 vulnerabilities (highest severity is: 5.3)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl</b></p></summary>

<p>NumPy is the fundamental package for array computing with Python.</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/6d/ad/ff3b21e

[2022-07-09 00:04] weigao-123 commented on #133
Hi, @fdosani ,

Maybe you can consider a simple wrap function around Compare.report() as follows:
`html_report = compare.report().replace('\n', '<br>').replace(' ', '&nbsp;')
html_report = f'<pre>{html_report}</pre>'
with open('test.html', 'w') as f:
    f.write(html_report)`

[2022-07-09 00:42] fdosani commented on #133
I’ll see if I can come up with something in a bit here. Happy to accept a PR too.

[2022-07-12 22:17] fdosani commented on #133
I actually have a fix in. Just need a review and we can add HTML support.

[2022-07-14 20:49] #133 closed

[2022-07-14 20:49] #136 closed

[2022-08-08 15:39] guptaat opened #157 "Mismatch between Summary Report and Actual"
Summary report shows there are records in base and compare dataset that did not have corresponding matches

but when i try to get the records in base and/or compare that do not have matches.. it returns 0...

![image](https://user-images.githubusercontent.com/43218708/183457067-6dfa8da0-c4bf-42be-8ebe-6653d503970e.png)

Using latest Spark version to do comparison...

Any thoughts/suggestions on wh

[2022-08-15 15:14] fdosani commented on #157
Can you provide some more details on your initialization of the `SparkCompare`, and also the full commands you are running in the notebook? The image is cutoff in cell 18 and 19.

The code being run here is [this](https://github.com/capitalone/datacompy/blob/develop/datacompy/sparkcompare.py#L387-L405). It would be nice to know your `join_columns`, and some sampling of the data to get a sense of w

[2022-08-16 18:39] guptaat commented on #157
Thank you for the response and pointer.

Environment Variables and Initialization for spark
`%env PYSPARK_PYTHON=python`
`%env PYSPARK_DRIVER_PYTHON_OPTS=notebook`
`%env PYSPARK_DRIVER_PYTHON=jupyter`
`%env JAVA_HOME=C:\Program Files\Eclipse Adoptium\jdk-11.0.14.9-hotspot`

`from pyspark.sql import SparkSession`
`import pyspark.sql.functions as f`
`from pyspark.sql.window import Window`
`from pysp

[2022-08-16 18:41] guptaat commented on #157
Oops reopening to keep it on radar

[2022-08-16 18:47] fdosani commented on #157
Maybe this is related to https://github.com/capitalone/datacompy/issues/147 and the null safe compares. It might be worth testing the branch I have here to see if it solves the issue or not: `spark-compare-refactor`

[2022-08-27 18:22] mehulpatel21 opened #159 "Tolerance for select fields"
Is it possible to add abs_tol and rel_tol to a list of fields instead of the whole dataframe?
How do we achieve this using SparkCompare?

[2022-08-29 12:01] Rstar1998 opened #160 "Cannot interpret 'datetime64[ns, UTC]' as a data type"
Any idea when support for `datetime64[ns, UTC]` will be implemented ?
I get this error `Cannot interpret 'datetime64[ns, UTC]' as a data type` when using compare function

[2022-08-29 12:04] fdosani commented on #160
Happy to accept a PR for this from the community. I’ll add this to the backlog now 👍

[2022-08-29 12:06] fdosani commented on #157
@guptaat just wanted to follow up on this if you had a chance to test out my suggestion.

[2022-08-29 12:31] fdosani commented on #159
You could subset your data and run compare  only on those if you really need it. I think it happens on a entire dataframe level at the moment though.

If there is enough interest in this feature it is something we can look into as a feature request.

[2022-08-29 15:08] guptaat commented on #157
@fdosani apologies. got sidetracked in between due to other projects. Hopefully will pick it back again this week and report back asap. Thank you

[2022-08-29 19:03] guptaat commented on #157
@fdosani  I installed the spark compare refactor branch using
`pip install --upgrade git+https://github.com/capitalone/datacompy@spark-compare-refactor`

It did not seem to solve the problem as got the results as below

![image](https://user-images.githubusercontent.com/43218708/187277104-ac258512-bc91-4c33-a95e-f0a5db49cea1.png)

Looked at the code again for sparkcompare.py and didn't notice it t

[2022-09-01 13:19] fdosani commented on #159
@mehulpatel21 Just following up on this. Are you able to use my suggestion. Just wondering if there was anything else I could help with here.

[2022-09-01 13:23] mehulpatel21 commented on #159
Hi, thanks for your response. I haven't gotten a chance to play around with the suggestion you provided yet. I will let you know once I am able to!

[2022-09-01 13:27] fdosani commented on #157
@guptaat Sorry for the delay. In that branch there are 2 spark compares. One is the old way and another is the refactor. Can you double check you are using: `from datacompy.spare_core import SparkCompare` to import and use the new logic.

The new logic is using `eqNullSafe` shown here: https://github.com/capitalone/datacompy/blob/59c83daed096145839835cbce906f986dfb9d7a1/datacompy/spark_core.py#L84

[2022-09-13 18:23] guptaat commented on #157
@fdosani

Yes spark.core.py does have eqNullSafe ( i was previously looking at sparkcompare.py)

![image](https://user-images.githubusercontent.com/43218708/189978308-1ef3fbc8-2e14-406c-bd39-2b70c33b6495.png)

I explicitly added the import statement as u suggested

![image](https://user-images.githubusercontent.com/43218708/189978596-ce69dccd-395c-4b48-b9e2-35937ddceae2.png)

Got the following res

[2022-09-18 15:27] FrancisMorelli opened #163 "join_columns is changing the content's column"
Hi there.
In my join_columns selection is a column is numbers as strings that someones begins if 0, and when I run the report, the report swipe the zeros in the beginning of those item. Is there an way to not change those items, bringing the same string in the dataframe's column?

[2022-09-22 12:07] fdosani commented on #163
Hi @FrancisMorelli can you post an example of what you are seeing and maybe what you'd like to happen. I think there might be something with Pandas (assuming you are using that) with column names starting with numbers. But the above info will help me debug a bit of what you are experiencing.

[2022-09-22 22:14] FrancisMorelli commented on #163
I managed to convert into str. It worked. Thanks, @fdosani

[2022-09-22 22:14] #163 closed

[2022-10-13 00:55] azadekhalaj commented on #42
@fdosani Hi Faisal. I am wondering if this issue is still existing and if yes, I can work on this issue or not. Thanks.

[2022-10-13 00:58] fdosani commented on #42
Hey there, I don’t think we have anyone working on this. Happy to take the extra support on this if you want to take a crack at it! Thanks 😊

[2022-10-13 13:54] azadekhalaj commented on #42
@fdosani Awesome! Thank you :)

[2022-10-14 21:06] fdosani commented on #42
Fixed in #166

[2022-10-14 21:06] #42 closed

[2022-10-29 14:55] fdosani opened #173 "bump up minimum python version to 3.8"
There are some security vulns which keep coming up with Python 3.7 support. In the next release (0.9.x) we should drop Python 3.7 support. Should be an easy change and fix.

- Following: https://github.com/capitalone/datacompy/blob/develop/setup.cfg#L14 should become `>=3.8.0`
- Doc / README updates would be needed also

[2022-11-11 22:44] linbaiwh commented on #160
Hi @Rstar1998, can you provide an example?
numpy had this problem in the past, but it's fixed now. see https://github.com/numpy/numpy/pull/19269

Thanks!